{
  "x-generator": "NSwag v14.7.1.0 (NJsonSchema v11.6.1.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "Swedac API2",
    "description": "API2 är Swedacs API för ackrediteringar, namnstämplar och Swedacs e-tjänster.\r\nDet här dokumentet beskriver de publika resurserna. Endpoints som bara är avsedda för Swedacs medarbetare publiceras i ett separat internt dokument.\r\n\r\nAutentisering sker antingen med en OAuth 2.0-token från Swedacs identitetstjänst eller\r\nmed en API-nyckel i headern X-API-Key.\r\n\r\nKända begränsningar: svarsmängder pagineras med parametrarna page och pageSize, och\r\nanrop är föremål för hastighetsbegränsning.\r\n\r\n---\r\n\r\nAPI2 is Swedac's API for accreditations, name stamps and Swedac's e-services.\r\nThis document describes the public resources. Endpoints intended only for Swedac employees are published in a separate internal document.\r\n\r\nAuthentication uses either an OAuth 2.0 token from Swedac's identity service or an API\r\nkey in the X-API-Key header.\r\n\r\nKnown limitations: result sets are paginated using the page and pageSize parameters,\r\nand requests are subject to rate limiting.",
    "termsOfService": "https://www.swedac.se/psidata/",
    "contact": {
      "name": "Swedac",
      "url": "https://www.swedac.se/kontakt/",
      "email": "registrator@swedac.se"
    },
    "license": {
      "name": "CC0 1.0 Universal",
      "url": "https://creativecommons.org/publicdomain/zero/1.0/"
    },
    "version": "3.1"
  },
  "servers": [
    {
      "url": "https://api2.swedac.se"
    }
  ],
  "paths": {
    "/api-info": {
      "get": {
        "tags": [
          "ApiInfo"
        ],
        "summary": "Get information about the API",
        "description": "Get information about the API",
        "operationId": "GetApiInfo",
        "responses": {
          "200": {
            "description": "Information about the API.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiInfoDto"
                },
                "example": {
                  "name": "Swedac API2",
                  "version": 3.1,
                  "documentationUrl": "https://api2.swedac.se/swagger",
                  "termsOfService": "https://www.swedac.se/psidata/",
                  "contactName": "Swedac",
                  "contactUrl": "https://www.swedac.se/kontakt/",
                  "contactEmail": "registrator@swedac.se",
                  "licenseName": "CC0 1.0 Universal",
                  "licenseUrl": "https://creativecommons.org/publicdomain/zero/1.0/"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred. The body describes the error according to RFC 9457.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://datatracker.ietf.org/doc/html/rfc9110#section-15.6.1",
                  "title": "Ett tekniskt fel har uppstått",
                  "status": 500,
                  "detail": "Vänligen försök igen senare eller kontakta supporten.",
                  "instance": "/areas",
                  "traceId": "0HN7H2M4K1QJ9:00000003"
                }
              }
            }
          }
        }
      }
    },
    "/areas": {
      "get": {
        "tags": [
          "Areas"
        ],
        "summary": "Get a list of areas",
        "description": "Get a list of areas",
        "operationId": "Filter",
        "parameters": [
          {
            "name": "kind",
            "in": "query",
            "description": "Kind of area.\n            Options: Ackreditering, Standardrubrik, Risk, Övrig, Dokumentgrupp.\n            Supports multiple as comma-separated.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "controlFormId",
            "in": "query",
            "description": "Control form-ID. Optional.",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "controlFormCode",
            "in": "query",
            "description": "Control form code (e.g. \"provning\"). Alternative to controlFormId.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "standardId",
            "in": "query",
            "description": "Standard-ID. Optional.",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "standardCode",
            "in": "query",
            "description": "Standard code (e.g. \"iso-17025-2018\"). Alternative to standardId.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "level",
            "in": "query",
            "description": "Level. Optional.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language (sv or en, Swedish is default)",
            "schema": {
              "default": "sv",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/LangCode"
                }
              ]
            },
            "x-position": 7
          },
          {
            "name": "maxCount",
            "in": "query",
            "description": "Max count to receive",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 200
            },
            "x-position": 8
          }
        ],
        "responses": {
          "200": {
            "description": "List of Area",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Area"
                  }
                },
                "example": [
                  {
                    "status": "Active",
                    "description": "- Pressure equipment (PED)\n- Ledningsystem för miljö",
                    "searchWords": [
                      "string"
                    ],
                    "frequencyPerCycle": 0,
                    "frequencyNotes": "string",
                    "englishName": "string",
                    "alias": "string",
                    "competenceVisibleLevels": [
                      0
                    ],
                    "controlFormId": "00000000-0000-0000-0000-000000000000",
                    "controlFormCode": "string",
                    "standardId": "00000000-0000-0000-0000-000000000000"
                  }
                ]
              }
            }
          },
          "403": {
            "description": "The caller is not authorised to use this resource."
          },
          "500": {
            "description": "An unexpected error occurred. The body describes the error according to RFC 9457.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://datatracker.ietf.org/doc/html/rfc9110#section-15.6.1",
                  "title": "Ett tekniskt fel har uppstått",
                  "status": 500,
                  "detail": "Vänligen försök igen senare eller kontakta supporten.",
                  "instance": "/areas",
                  "traceId": "0HN7H2M4K1QJ9:00000003"
                }
              }
            }
          }
        }
      }
    },
    "/assignments/{assignmentId}/workentities/my": {
      "get": {
        "tags": [
          "WorkEntries"
        ],
        "summary": "Get my work entities at an assignment",
        "description": "$my är den ursprungliga rutten och fungerar oförändrat, men dokumenteras inte:\n$ är inte ett tillåtet tecken i en URL enligt RFC 3986.",
        "operationId": "GetMyWorkEntriesOnAssignment",
        "parameters": [
          {
            "name": "assignmentId",
            "in": "path",
            "required": true,
            "description": "Assignment CrmIdentifier (GUID)",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "WorkEntry JSON array",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WorkEntry"
                  }
                },
                "example": [
                  {
                    "id": "00000000-0000-0000-0000-000000000000",
                    "assignmentId": "00000000-0000-0000-0000-000000000000",
                    "displayName": "string",
                    "type": "Inspection",
                    "planningEntryId": "00000000-0000-0000-0000-000000000000",
                    "personId": "00000000-0000-0000-0000-000000000000",
                    "role": "Customer",
                    "officeId": "00000000-0000-0000-0000-000000000000",
                    "calendarAppointmentId": "00000000-0000-0000-0000-000000000000",
                    "isSuggestion": false,
                    "isRemotePreferable": false,
                    "planningComment": "string",
                    "mainAreaId": "00000000-0000-0000-0000-000000000000",
                    "netHours": 0,
                    "extraHours": 0,
                    "extraHoursFormula": "string",
                    "overtimeHours": 0,
                    "travelArrivalHours": 0,
                    "travelDepartureHours": 0,
                    "grossHours": 0.0,
                    "totalHours": 0.0,
                    "resultType": "EjGranskad",
                    "resultComment": "string",
                    "resultCompleted": "2026-01-15T13:45:00Z",
                    "createdAt": "2026-01-15T13:45:00Z",
                    "lastModifiedAt": "2026-01-15T13:45:00Z",
                    "modifiedByPersonId": "00000000-0000-0000-0000-000000000000",
                    "witnessingPersonName": "string",
                    "witnessingDescription": "string",
                    "personSummary": {
                      "id": "00000000-0000-0000-0000-000000000000",
                      "emailAddress": "string",
                      "fullName": "string",
                      "firstName": "string",
                      "lastName": "string",
                      "phoneNo": "string",
                      "sign": "string",
                      "expertInfo": {
                        "hourlyRate": 0.0,
                        "employerText": "string",
                        "originLocation": {
                          "locationTitle": "string",
                          "latitude": 0.0,
                          "longitude": 0.0,
                          "originAddress": "string"
                        },
                        "workingTime": {
                          "monthlyPercentage": 0
                        },
                        "calendarUris": [
                          "string"
                        ]
                      }
                    },
                    "areas": [
                      {
                        "status": "Active",
                        "description": "- Pressure equipment (PED)\n- Ledningsystem för miljö",
                        "searchWords": [
                          "string"
                        ],
                        "frequencyPerCycle": 0,
                        "frequencyNotes": "string",
                        "englishName": "string",
                        "alias": "string",
                        "competenceVisibleLevels": [
                          0
                        ],
                        "controlFormId": "00000000-0000-0000-0000-000000000000",
                        "controlFormCode": "string",
                        "standardId": "00000000-0000-0000-0000-000000000000"
                      }
                    ]
                  }
                ]
              }
            }
          },
          "403": {
            "description": "The caller is not authorised to use this resource."
          },
          "500": {
            "description": "An unexpected error occurred. The body describes the error according to RFC 9457.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://datatracker.ietf.org/doc/html/rfc9110#section-15.6.1",
                  "title": "Ett tekniskt fel har uppstått",
                  "status": 500,
                  "detail": "Vänligen försök igen senare eller kontakta supporten.",
                  "instance": "/areas",
                  "traceId": "0HN7H2M4K1QJ9:00000003"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "X-API-Key": []
          }
        ]
      }
    },
    "/notifications": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "summary": "Get notifications for authorised user",
        "description": "Get notifications for authorised user",
        "operationId": "GetNotificationsForUser",
        "parameters": [
          {
            "name": "excludeCompleted",
            "in": "query",
            "description": "Exclude completed notifications?\nThe user has already taken actions on these.",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "List of notifications",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NotificationDto"
                  }
                },
                "example": [
                  {
                    "id": "00000000-0000-0000-0000-000000000000",
                    "icon": "string",
                    "groupAlias": "string",
                    "dateTime": "2026-01-15T13:45:00Z",
                    "channel": "string",
                    "receiverEmail": "string",
                    "subject": "string",
                    "text": "string",
                    "direction": "string",
                    "isActionRequired": false,
                    "isActionCompleted": false,
                    "deadline": "2026-01-15T13:45:00Z",
                    "targetButtonText": "string",
                    "targetButtonUrl": "string"
                  }
                ]
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred. The body describes the error according to RFC 9457.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://datatracker.ietf.org/doc/html/rfc9110#section-15.6.1",
                  "title": "Ett tekniskt fel har uppstått",
                  "status": 500,
                  "detail": "Vänligen försök igen senare eller kontakta supporten.",
                  "instance": "/areas",
                  "traceId": "0HN7H2M4K1QJ9:00000003"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "X-API-Key": []
          }
        ]
      }
    },
    "/reqdocs": {
      "get": {
        "tags": [
          "Requirements"
        ],
        "summary": "Hämtar alla aktiva kravdokument (ej utkast).",
        "description": "Hämtar alla aktiva kravdokument (ej utkast).",
        "operationId": "GetAllActiveRequirementDocs",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Språk (möjliga val: sv = svenska, en = engelska)",
            "schema": {
              "default": "sv",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/LangCode"
                }
              ]
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Lista med aktiva kravdokument",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RequirementDoc"
                  }
                },
                "example": [
                  {
                    "id": "00000000-0000-0000-0000-000000000000",
                    "name": "STAFS 2011:33",
                    "title": "Swedacs föreskrifter och allmänna råd om ackreditering av laboratorier",
                    "titleEn": "string",
                    "code": "stafs-2020-1, iso-17025-2018",
                    "pdfPublicUrl": "https://api2.swedac.se/",
                    "htmlPublicUrl": "https://api2.swedac.se/",
                    "markdownUrl": "https://api2.swedac.se/",
                    "isDraft": false
                  }
                ]
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred. The body describes the error according to RFC 9457.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://datatracker.ietf.org/doc/html/rfc9110#section-15.6.1",
                  "title": "Ett tekniskt fel har uppstått",
                  "status": 500,
                  "detail": "Vänligen försök igen senare eller kontakta supporten.",
                  "instance": "/areas",
                  "traceId": "0HN7H2M4K1QJ9:00000003"
                }
              }
            }
          }
        }
      }
    },
    "/reqdocs/{slug}": {
      "get": {
        "tags": [
          "Requirements"
        ],
        "summary": "Hämtar ett kravdokument via slug.",
        "description": "Hämtar ett kravdokument via slug.",
        "operationId": "GetBySlug",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug (naturlig nyckel), t.ex. stafs-2020-1 eller iso-17025-2018",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Kravdokument med beteckning, titel, PDF-URL och Markdown-URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequirementDoc"
                },
                "example": {
                  "id": "00000000-0000-0000-0000-000000000000",
                  "name": "STAFS 2011:33",
                  "title": "Swedacs föreskrifter och allmänna råd om ackreditering av laboratorier",
                  "titleEn": "string",
                  "code": "stafs-2020-1, iso-17025-2018",
                  "pdfPublicUrl": "https://api2.swedac.se/",
                  "htmlPublicUrl": "https://api2.swedac.se/",
                  "markdownUrl": "https://api2.swedac.se/",
                  "isDraft": false
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found."
          },
          "500": {
            "description": "An unexpected error occurred. The body describes the error according to RFC 9457.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://datatracker.ietf.org/doc/html/rfc9110#section-15.6.1",
                  "title": "Ett tekniskt fel har uppstått",
                  "status": 500,
                  "detail": "Vänligen försök igen senare eller kontakta supporten.",
                  "instance": "/areas",
                  "traceId": "0HN7H2M4K1QJ9:00000003"
                }
              }
            }
          }
        }
      }
    },
    "/v2/stamps/admin/pending": {
      "get": {
        "tags": [
          "StampAdmin"
        ],
        "summary": "Lista alla ansökningar som inväntar handläggning (status PendingApproval).",
        "description": "Lista alla ansökningar som inväntar handläggning (status PendingApproval).",
        "operationId": "GetPendingApplications",
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StampApplication"
                  }
                },
                "example": [
                  {
                    "id": "00000000-0000-0000-0000-000000000000",
                    "applicationType": "Registration",
                    "status": "PendingSignature",
                    "applicantEmailAddress": "string",
                    "automatedSource": "string",
                    "applicantPersonNumber": "string",
                    "signingTaskGuid": "00000000-0000-0000-0000-000000000000",
                    "stampText": "string",
                    "formDataJson": "string",
                    "createdAt": "2026-01-15T13:45:00Z",
                    "updatedAt": "2026-01-15T13:45:00Z",
                    "reviewedByEmail": "string",
                    "reviewNote": "string"
                  }
                ]
              }
            }
          },
          "403": {
            "description": "The caller is not authorised to use this resource."
          },
          "500": {
            "description": "An unexpected error occurred. The body describes the error according to RFC 9457.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://datatracker.ietf.org/doc/html/rfc9110#section-15.6.1",
                  "title": "Ett tekniskt fel har uppstått",
                  "status": 500,
                  "detail": "Vänligen försök igen senare eller kontakta supporten.",
                  "instance": "/areas",
                  "traceId": "0HN7H2M4K1QJ9:00000003"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "X-API-Key": []
          }
        ]
      }
    },
    "/v2/stamps/admin/applications/{id}/approve": {
      "post": {
        "tags": [
          "StampAdmin"
        ],
        "summary": "Godkänn en ansökan — köar rätt kommando (och därmed domänhändelse) som ett\nHangfire-jobb beroende på ansökningstyp. Diarieföring, fakturering och\nbekräftelsemejl körs i det jobbet, i stället för att blockera det här anropet.",
        "description": "Godkänn en ansökan — köar rätt kommando (och därmed domänhändelse) som ett\nHangfire-jobb beroende på ansökningstyp. Diarieföring, fakturering och\nbekräftelsemejl körs i det jobbet, i stället för att blockera det här anropet.",
        "operationId": "ApproveApplication",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "note",
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              },
              "example": "string"
            }
          },
          "x-position": 2
        },
        "responses": {
          "202": {
            "description": "The request was accepted for processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModificationResult"
                },
                "example": {
                  "success": false,
                  "message": "string",
                  "jobId": "string"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or failed validation."
          },
          "403": {
            "description": "The caller is not authorised to use this resource."
          },
          "404": {
            "description": "The resource was not found."
          },
          "500": {
            "description": "An unexpected error occurred. The body describes the error according to RFC 9457.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://datatracker.ietf.org/doc/html/rfc9110#section-15.6.1",
                  "title": "Ett tekniskt fel har uppstått",
                  "status": 500,
                  "detail": "Vänligen försök igen senare eller kontakta supporten.",
                  "instance": "/areas",
                  "traceId": "0HN7H2M4K1QJ9:00000003"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "X-API-Key": []
          }
        ]
      }
    },
    "/v2/stamps/admin/applications/{id}/reject": {
      "post": {
        "tags": [
          "StampAdmin"
        ],
        "summary": "Avfärda en ansökan med obligatorisk motivering.",
        "description": "Avfärda en ansökan med obligatorisk motivering.",
        "operationId": "RejectApplication",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "note",
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              },
              "example": "string"
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "The request was successful."
          },
          "400": {
            "description": "The request was malformed or failed validation."
          },
          "403": {
            "description": "The caller is not authorised to use this resource."
          },
          "404": {
            "description": "The resource was not found."
          },
          "500": {
            "description": "An unexpected error occurred. The body describes the error according to RFC 9457.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://datatracker.ietf.org/doc/html/rfc9110#section-15.6.1",
                  "title": "Ett tekniskt fel har uppstått",
                  "status": 500,
                  "detail": "Vänligen försök igen senare eller kontakta supporten.",
                  "instance": "/areas",
                  "traceId": "0HN7H2M4K1QJ9:00000003"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "X-API-Key": []
          }
        ]
      }
    },
    "/v2/stamps/admin/registration/submit": {
      "post": {
        "tags": [
          "StampAdmin"
        ],
        "summary": "Registrera en ansökan om nyregistrering på kundens vägnar (utan e-signering).\nAnsökan placeras direkt i handläggningskön med status PendingApproval.",
        "description": "Registrera en ansökan om nyregistrering på kundens vägnar (utan e-signering).\nAnsökan placeras direkt i handläggningskön med status PendingApproval.",
        "operationId": "SubmitRegistrationOnBehalfOf",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StampRegistrationRequest"
              },
              "example": {
                "stampText": "string",
                "holder": {
                  "applicantType": "Person",
                  "identityNumber": "string",
                  "firstName": "string",
                  "lastName": "string",
                  "companyName": "string",
                  "contactPerson": "string",
                  "invoiceAddress": "string",
                  "invoiceZipCode": "string",
                  "invoiceCity": "string",
                  "phone": "string",
                  "email": "string",
                  "website": "string",
                  "visitAddress": "string",
                  "visitZipCode": "string",
                  "visitCity": "string",
                  "displayName": "string"
                },
                "invoicePreferences": {
                  "peppolId": "string",
                  "invoiceEmail": "string",
                  "digitalPost": "string"
                }
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "The request was successful."
          },
          "400": {
            "description": "The request was malformed or failed validation."
          },
          "403": {
            "description": "The caller is not authorised to use this resource."
          },
          "409": {
            "description": "The request conflicts with the current state of the resource."
          },
          "500": {
            "description": "An unexpected error occurred. The body describes the error according to RFC 9457.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://datatracker.ietf.org/doc/html/rfc9110#section-15.6.1",
                  "title": "Ett tekniskt fel har uppstått",
                  "status": 500,
                  "detail": "Vänligen försök igen senare eller kontakta supporten.",
                  "instance": "/areas",
                  "traceId": "0HN7H2M4K1QJ9:00000003"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "X-API-Key": []
          }
        ]
      }
    },
    "/user/me": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get user info including email, name, roles and offices.",
        "description": "$me är den ursprungliga rutten och fungerar oförändrat, men dokumenteras inte:\n$ är inte ett tillåtet tecken i en URL enligt RFC 3986.",
        "operationId": "GetCurrentUserInfo",
        "parameters": [
          {
            "name": "includeOffices",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 1
          },
          {
            "name": "includeAssignments",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfoDto"
                },
                "example": {
                  "email": "string",
                  "fullName": "string",
                  "firstName": "string",
                  "notificationFrequency": "Immediately",
                  "primaryLanguage": "Swedish",
                  "aggregatedRoles": [
                    "string"
                  ],
                  "offices": [
                    {
                      "officeSummary": {
                        "id": "00000000-0000-0000-0000-000000000000",
                        "name": "string",
                        "customerNumber": "A002906-001",
                        "status": "NewRegistration",
                        "accNo": 9999,
                        "groupName": "string",
                        "groupId": "string",
                        "isMainInGroup": false,
                        "label": "Borås",
                        "administrativeLabel": "string",
                        "categoryAlias": "string",
                        "typeOfBusiness": "string",
                        "administrativeInfo": {
                          "isDemo": false,
                          "isBeta": false,
                          "isDocAnalysisDisabled": false,
                          "isEnglishPreferred": false,
                          "notes": "string",
                          "feeClass": "string",
                          "customerCategory": "Alfa",
                          "respDepartmentCode": "string",
                          "respDepartmentId": "00000000-0000-0000-0000-000000000000"
                        },
                        "uri": "https://api2.swedac.se/",
                        "relationToUser": "string",
                        "userHasAccess": false,
                        "isVirtual": false
                      },
                      "roles": [
                        "string"
                      ]
                    }
                  ],
                  "assignments": [
                    {
                      "id": "00000000-0000-0000-0000-000000000000",
                      "title": "2017/2559 eller \"okt -27\"",
                      "number": "2017/2559",
                      "orgId": "00000000-0000-0000-0000-000000000000",
                      "orgName": "string",
                      "orgAccNo": "string",
                      "status": "Booked",
                      "subStatus": "string",
                      "assignmentType": {
                        "id": "00000000-0000-0000-0000-000000000000",
                        "name": "string",
                        "description": "string",
                        "isDeleted": false
                      },
                      "departmentId": "00000000-0000-0000-0000-000000000000",
                      "notes": "string",
                      "isExtendedAccreditation": false,
                      "plannedDate": "2026-01-15",
                      "desiredDate": "2026-01-15",
                      "applicationDate": "2026-01-15",
                      "startDate": "2026-01-15",
                      "endDate": "2026-01-15",
                      "manager": {
                        "id": "00000000-0000-0000-0000-000000000000",
                        "emailAddress": "string",
                        "fullName": "string",
                        "firstName": "string",
                        "lastName": "string",
                        "phoneNo": "string",
                        "sign": "string",
                        "expertInfo": {
                          "hourlyRate": 0.0,
                          "employerText": "string",
                          "originLocation": {
                            "locationTitle": null,
                            "latitude": null,
                            "longitude": null,
                            "originAddress": null
                          },
                          "workingTime": {
                            "monthlyPercentage": null
                          },
                          "calendarUris": []
                        }
                      },
                      "planningCycleId": "00000000-0000-0000-0000-000000000000",
                      "planningCycleTitle": "string",
                      "feeMode": "Draft",
                      "stats": {
                        "totalHours": 0,
                        "ordinaryHours": 0,
                        "extraHours": 0,
                        "hoursAtCustomer": 0,
                        "hoursOnsiteAtCustomer": 0,
                        "isRemote": false
                      },
                      "applicationControlFormId": "00000000-0000-0000-0000-000000000000",
                      "applicationControlFormCode": "string",
                      "relationToUser": "string",
                      "findingStats": {
                        "numberAtCustomerFocus": 0,
                        "numberAtAssessorFocus": 0,
                        "numberAtManagerFocus": 0,
                        "numberOfAgreed": 0
                      }
                    }
                  ],
                  "permissions": null
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred. The body describes the error according to RFC 9457.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://datatracker.ietf.org/doc/html/rfc9110#section-15.6.1",
                  "title": "Ett tekniskt fel har uppstått",
                  "status": 500,
                  "detail": "Vänligen försök igen senare eller kontakta supporten.",
                  "instance": "/areas",
                  "traceId": "0HN7H2M4K1QJ9:00000003"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "X-API-Key": []
          }
        ]
      },
      "put": {
        "tags": [
          "User"
        ],
        "summary": "Save user settings as notification frequency and language.",
        "description": "$me är den ursprungliga rutten och fungerar oförändrat, men dokumenteras inte.",
        "operationId": "SaveUserSettings",
        "parameters": [
          {
            "name": "frequency",
            "in": "query",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/NotificationFrequency"
                }
              ]
            },
            "x-position": 1
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Language"
                }
              ]
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModificationResult"
                },
                "example": {
                  "success": false,
                  "message": "string",
                  "jobId": "string"
                }
              }
            }
          },
          "202": {
            "description": "The request was accepted for processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModificationResult"
                },
                "example": {
                  "success": false,
                  "message": "string",
                  "jobId": "string"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred. The body describes the error according to RFC 9457.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://datatracker.ietf.org/doc/html/rfc9110#section-15.6.1",
                  "title": "Ett tekniskt fel har uppstått",
                  "status": 500,
                  "detail": "Vänligen försök igen senare eller kontakta supporten.",
                  "instance": "/areas",
                  "traceId": "0HN7H2M4K1QJ9:00000003"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "X-API-Key": []
          }
        ]
      }
    },
    "/v2/accreditations": {
      "get": {
        "tags": [
          "AccreditationPublicSearch"
        ],
        "summary": "Hämta alla ackrediterade organisationer utifrån villkor \nsom anges som parametrar. Du måste ange minst en parameter.",
        "description": "Hämta alla ackrediterade organisationer utifrån villkor \nsom anges som parametrar. Du måste ange minst en parameter.",
        "operationId": "Search",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Sökfråga för fritextsökning",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "area",
            "in": "query",
            "description": "Ackrediteringsområde",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "subarea",
            "in": "query",
            "description": "Del av ackrediteringsområde",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "accno",
            "in": "query",
            "description": "Ackrediteringsnummer",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "orgname",
            "in": "query",
            "description": "Organisationsnamn (del av namn) Exempel: SMHI",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "orgno",
            "in": "query",
            "description": "Organisationsnummer (format: 000000-0000)",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "city",
            "in": "query",
            "description": "Ort",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 7
          },
          {
            "name": "country",
            "in": "query",
            "description": "Land",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 8
          },
          {
            "name": "controlform",
            "in": "query",
            "description": "Kontrollform",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 9
          },
          {
            "name": "typeofbusiness",
            "in": "query",
            "description": "Kontrollform (äldre parameternamn, ersatt av controlform)",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 10
          },
          {
            "name": "standard",
            "in": "query",
            "description": "Ackrediteringsstandard (möjliga val finns under /standards)",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 11
          },
          {
            "name": "requirement",
            "in": "query",
            "description": "Kravdokument (möjliga val finns under /regulations)",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 12
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Språk (möjliga val: sv = svenska, en = engelska)",
            "schema": {
              "default": "sv",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/LangCode"
                }
              ]
            },
            "x-position": 13
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Antal träffar per sida. Standard: 20.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "nullable": true
            },
            "x-position": 14
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Antal träffar att hoppa över. Standard: 0. Tolkas i hela sidor:\n            värden som inte är en jämn multipel av limit avrundas nedåt till närmaste sidbörjan.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "nullable": true
            },
            "x-position": 15
          },
          {
            "name": "format",
            "in": "query",
            "description": "Svarsformat (möjliga val: json = enbart träfflista, csv = CSV-fil, index = lista med ackrediteringsnummer och organisationsnamn; utelämnas för full respons med facetter)",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 18
          },
          {
            "name": "size",
            "in": "query",
            "description": "Antal träffar för format=index (möjliga val: heltal eller \"unlimited\" för alla)",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 19
          },
          {
            "name": "search_session_id",
            "in": "query",
            "description": "Anonymt, kortlivat sessions-id för sökanalys. Får inte innehålla användar-id eller IP.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 20
          }
        ],
        "responses": {
          "200": {
            "description": "Sökresultat som AccreditationSearchResult",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccreditationIndexEntry"
                  }
                },
                "example": [
                  {
                    "accNo": "string",
                    "orgName": "string"
                  }
                ]
              }
            }
          },
          "501": {
            "description": "The operation is not implemented."
          },
          "500": {
            "description": "An unexpected error occurred. The body describes the error according to RFC 9457.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://datatracker.ietf.org/doc/html/rfc9110#section-15.6.1",
                  "title": "Ett tekniskt fel har uppstått",
                  "status": 500,
                  "detail": "Vänligen försök igen senare eller kontakta supporten.",
                  "instance": "/areas",
                  "traceId": "0HN7H2M4K1QJ9:00000003"
                }
              }
            }
          }
        }
      }
    },
    "/v2/accreditations/autocomplete": {
      "get": {
        "tags": [
          "AccreditationPublicSearch"
        ],
        "summary": "Hämtar autocompletion-förslag för ackrediteringsområden.",
        "description": "Hämtar autocompletion-förslag för ackrediteringsområden.",
        "operationId": "Autocomplete",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Sökfråga (valfri). Filtrerar på ackrediteringsområde.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Språk (möjliga val: sv = svenska, en = engelska)",
            "schema": {
              "default": "sv",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/LangCode"
                }
              ]
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "PublicSearchAutocompleteResult med matchande ackrediteringsområden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicSearchAutocompleteResult"
                },
                "example": {
                  "suggestions": [
                    {
                      "type": "string",
                      "value": "string",
                      "accNo": "string"
                    }
                  ]
                }
              }
            }
          },
          "501": {
            "description": "The operation is not implemented."
          },
          "500": {
            "description": "An unexpected error occurred. The body describes the error according to RFC 9457.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://datatracker.ietf.org/doc/html/rfc9110#section-15.6.1",
                  "title": "Ett tekniskt fel har uppstått",
                  "status": 500,
                  "detail": "Vänligen försök igen senare eller kontakta supporten.",
                  "instance": "/areas",
                  "traceId": "0HN7H2M4K1QJ9:00000003"
                }
              }
            }
          }
        }
      }
    },
    "/v2/accreditations/{accNumber}": {
      "get": {
        "tags": [
          "AccreditationPublicSearch"
        ],
        "summary": "Hämtar ackrediteringskort för ett ackrediteringsnummer med grunddata och tillsynsobjekt.\nOm flera organisationer delar ackrediteringsnumret slås deras tillsynsobjekt ihop.",
        "description": "Hämtar ackrediteringskort för ett ackrediteringsnummer med grunddata och tillsynsobjekt.\nOm flera organisationer delar ackrediteringsnumret slås deras tillsynsobjekt ihop.",
        "operationId": "GetAccreditationCard",
        "parameters": [
          {
            "name": "accNumber",
            "in": "path",
            "required": true,
            "description": "Ackrediteringsnummer (format: fyra eller fem siffror)",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "filterOfficeNumbers",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "Filtrera på arbetsställen (IDnr).",
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "string"
              }
            },
            "x-position": 2
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Språk (möjliga val: sv = svenska, en = engelska)",
            "schema": {
              "default": "sv",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/LangCode"
                }
              ]
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "AccreditationCard med organisationsdata och tillsynsobjekt,\neller 404 om ackrediteringsnumret inte finns.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccreditationCard"
                },
                "example": {
                  "orgName": "string",
                  "orgNumber": "string",
                  "accNo": "string",
                  "orgIds": [
                    "00000000-0000-0000-0000-000000000000"
                  ],
                  "status": "Active",
                  "postalAddress": {
                    "addressLine1": "Hjortgatan 2",
                    "zipCode": "507 31",
                    "city": "Borås",
                    "country": "Sweden"
                  },
                  "visitingAddress": {
                    "addressLine1": "Hjortgatan 2",
                    "zipCode": "507 31",
                    "city": "Borås",
                    "country": "Sweden"
                  },
                  "phoneNo": "string",
                  "website": "string",
                  "offices": [
                    {
                      "id": "00000000-0000-0000-0000-000000000000",
                      "customerNumber": "string",
                      "status": "NewRegistration",
                      "name": "string",
                      "postalAddress": {
                        "addressLine1": "Hjortgatan 2",
                        "zipCode": "507 31",
                        "city": "Borås",
                        "country": "Sweden"
                      },
                      "visitingAddress": {
                        "addressLine1": "Hjortgatan 2",
                        "zipCode": "507 31",
                        "city": "Borås",
                        "country": "Sweden"
                      },
                      "phoneNo": "string",
                      "department": "string"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found."
          },
          "501": {
            "description": "The operation is not implemented."
          },
          "500": {
            "description": "An unexpected error occurred. The body describes the error according to RFC 9457.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://datatracker.ietf.org/doc/html/rfc9110#section-15.6.1",
                  "title": "Ett tekniskt fel har uppstått",
                  "status": 500,
                  "detail": "Vänligen försök igen senare eller kontakta supporten.",
                  "instance": "/areas",
                  "traceId": "0HN7H2M4K1QJ9:00000003"
                }
              }
            }
          }
        }
      }
    },
    "/v2/accreditations/{accNumber}/scope-rows": {
      "get": {
        "tags": [
          "AccreditationPublicSearch"
        ],
        "summary": "Hämtar alla aktiva omfattningsrader för ett ackrediteringsnummer,\nmed kravdokument och fotnoter per rad.\nOm flera organisationer delar ackrediteringsnumret slås deras omfattningsrader ihop.",
        "description": "Hämtar alla aktiva omfattningsrader för ett ackrediteringsnummer,\nmed kravdokument och fotnoter per rad.\nOm flera organisationer delar ackrediteringsnumret slås deras omfattningsrader ihop.",
        "operationId": "GetScopeRows",
        "parameters": [
          {
            "name": "accNumber",
            "in": "path",
            "required": true,
            "description": "Ackrediteringsnummer (fyra eller fem siffror)",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Språk (sv = svenska, en = engelska)",
            "schema": {
              "default": "sv",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/LangCode"
                }
              ]
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Lista med PublicScopeRowDto, eller 404 om ackrediteringsnumret inte finns.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicScopeRowDto"
                  }
                },
                "example": [
                  {
                    "standardCode": "string",
                    "controlFormCode": "string",
                    "standardName": "string",
                    "controlFormName": "string",
                    "accreditationValidFrom": "2026-01-15",
                    "requirementDocs": [
                      "string"
                    ],
                    "lastDecisionDate": "2026-01-15",
                    "activeInCountry": "string",
                    "isFieldPerformed": false,
                    "isOnlyMaintenance": false
                  }
                ]
              }
            }
          },
          "404": {
            "description": "The resource was not found."
          },
          "501": {
            "description": "The operation is not implemented."
          },
          "500": {
            "description": "An unexpected error occurred. The body describes the error according to RFC 9457.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://datatracker.ietf.org/doc/html/rfc9110#section-15.6.1",
                  "title": "Ett tekniskt fel har uppstått",
                  "status": 500,
                  "detail": "Vänligen försök igen senare eller kontakta supporten.",
                  "instance": "/areas",
                  "traceId": "0HN7H2M4K1QJ9:00000003"
                }
              }
            }
          }
        }
      }
    },
    "/v2/standards": {
      "get": {
        "tags": [
          "StandardsPublic"
        ],
        "summary": "Get all standards (standarder)",
        "description": "Get all standards (standarder)",
        "operationId": "GetAllStandards",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "default": "sv",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/LangCode"
                }
              ]
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "List of AccreditationStandard",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccreditationStandard"
                  }
                },
                "example": [
                  {
                    "id": "00000000-0000-0000-0000-000000000000",
                    "name": "SS-EN ISO/IEC 17025:2018, SS-EN ISO/IEC 17020:2021",
                    "title": "Allmänna kompetenskrav för provnings- och\n            kalibreringslaboratorier (ISO/IEC 17025:2017)",
                    "controlFormCode": "string",
                    "controlForm": {
                      "id": "00000000-0000-0000-0000-000000000000",
                      "title": "string",
                      "code": "provning, kalibrering, cert-person",
                      "externalName": "string",
                      "controlFormEnglish": "string",
                      "externalNameEnglish": "string",
                      "isInactive": false,
                      "isCertification": false
                    },
                    "code": "iso-17025-2018, iso-17020-2012",
                    "isDraft": false,
                    "isInactive": false,
                    "symbol": {
                      "subLabels": null
                    }
                  }
                ]
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred. The body describes the error according to RFC 9457.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://datatracker.ietf.org/doc/html/rfc9110#section-15.6.1",
                  "title": "Ett tekniskt fel har uppstått",
                  "status": 500,
                  "detail": "Vänligen försök igen senare eller kontakta supporten.",
                  "instance": "/areas",
                  "traceId": "0HN7H2M4K1QJ9:00000003"
                }
              }
            }
          }
        }
      }
    },
    "/v2/standards/{code}": {
      "get": {
        "tags": [
          "StandardsPublic"
        ],
        "summary": "Get a single standard by its code (e.g. \"iso-17025-2018\").",
        "description": "Get a single standard by its code (e.g. \"iso-17025-2018\").",
        "operationId": "GetStandardByCode",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "description": "Standard code",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language (sv/en)",
            "schema": {
              "default": "sv",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/LangCode"
                }
              ]
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccreditationStandard"
                },
                "example": {
                  "id": "00000000-0000-0000-0000-000000000000",
                  "name": "SS-EN ISO/IEC 17025:2018, SS-EN ISO/IEC 17020:2021",
                  "title": "Allmänna kompetenskrav för provnings- och\n            kalibreringslaboratorier (ISO/IEC 17025:2017)",
                  "controlFormCode": "string",
                  "controlForm": {
                    "id": "00000000-0000-0000-0000-000000000000",
                    "title": "string",
                    "code": "provning, kalibrering, cert-person",
                    "externalName": "string",
                    "controlFormEnglish": "string",
                    "externalNameEnglish": "string",
                    "isInactive": false,
                    "isCertification": false
                  },
                  "code": "iso-17025-2018, iso-17020-2012",
                  "isDraft": false,
                  "isInactive": false,
                  "symbol": {
                    "subLabels": null
                  }
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found."
          },
          "500": {
            "description": "An unexpected error occurred. The body describes the error according to RFC 9457.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://datatracker.ietf.org/doc/html/rfc9110#section-15.6.1",
                  "title": "Ett tekniskt fel har uppstått",
                  "status": 500,
                  "detail": "Vänligen försök igen senare eller kontakta supporten.",
                  "instance": "/areas",
                  "traceId": "0HN7H2M4K1QJ9:00000003"
                }
              }
            }
          }
        }
      }
    },
    "/v2/standards/{standardCode}/{controlFormCode}/headings": {
      "get": {
        "tags": [
          "StandardsPublic"
        ],
        "summary": "Get standard headings for a given standard and control form.",
        "description": "Get standard headings for a given standard and control form.",
        "operationId": "GetStandardHeadings",
        "parameters": [
          {
            "name": "standardCode",
            "in": "path",
            "required": true,
            "description": "Standard code, e.g. \"iso-17025-2018\"",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "controlFormCode",
            "in": "path",
            "required": true,
            "description": "Control form code, e.g. \"provning\"",
            "schema": {
              "type": "string"
            },
            "x-position": 2
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language (sv/en)",
            "schema": {
              "default": "sv",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/LangCode"
                }
              ]
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StandardHeading"
                  }
                },
                "example": [
                  {
                    "code": "string",
                    "slug": "string",
                    "title": "string",
                    "englishTitle": "string",
                    "docRefs": [
                      "string"
                    ],
                    "nonConformities_total": 0,
                    "description": "string",
                    "crmAreaId": "00000000-0000-0000-0000-000000000000",
                    "crmSortOrder": "string",
                    "children": []
                  }
                ]
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred. The body describes the error according to RFC 9457.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://datatracker.ietf.org/doc/html/rfc9110#section-15.6.1",
                  "title": "Ett tekniskt fel har uppstått",
                  "status": 500,
                  "detail": "Vänligen försök igen senare eller kontakta supporten.",
                  "instance": "/areas",
                  "traceId": "0HN7H2M4K1QJ9:00000003"
                }
              }
            }
          }
        }
      }
    },
    "/v2/stamps/validate": {
      "get": {
        "tags": [
          "StampsManagement"
        ],
        "summary": "Kontrollera om en namnstämpeltext är tillgänglig för registrering.\nAnropas i realtid från formuläret. Returnerar 200 OK om ledig, 409 Conflict om upptagen.",
        "description": "Kontrollera om en namnstämpeltext är tillgänglig för registrering.\nAnropas i realtid från formuläret. Returnerar 200 OK om ledig, 409 Conflict om upptagen.",
        "operationId": "ValidateStampText",
        "parameters": [
          {
            "name": "stampText",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful."
          },
          "409": {
            "description": "The request conflicts with the current state of the resource."
          },
          "500": {
            "description": "An unexpected error occurred. The body describes the error according to RFC 9457.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://datatracker.ietf.org/doc/html/rfc9110#section-15.6.1",
                  "title": "Ett tekniskt fel har uppstått",
                  "status": 500,
                  "detail": "Vänligen försök igen senare eller kontakta supporten.",
                  "instance": "/areas",
                  "traceId": "0HN7H2M4K1QJ9:00000003"
                }
              }
            }
          }
        }
      }
    },
    "/v2/stamps/identity/lookup": {
      "get": {
        "tags": [
          "StampsManagement"
        ],
        "summary": "Slår upp ett person- eller organisationsnummer mot SSBTGO och returnerar vad\nformuläret kan fylla i automatiskt: sökandetyp, namn och faktureringsadress.\nSökandetypen avgörs av sifferformatet, inte av om SSBTGO hittade numret — en\nprivatperson utan Bolagsverket-registrering får found: false och\napplicantType: \"Person\", inte ett fel.",
        "description": "Slår upp ett person- eller organisationsnummer mot SSBTGO och returnerar vad\nformuläret kan fylla i automatiskt: sökandetyp, namn och faktureringsadress.\nSökandetypen avgörs av sifferformatet, inte av om SSBTGO hittade numret — en\nprivatperson utan Bolagsverket-registrering får found: false och\napplicantType: \"Person\", inte ett fel.",
        "operationId": "LookupIdentity",
        "parameters": [
          {
            "name": "identityNumber",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StampIdentityLookupResult"
                },
                "example": {
                  "applicantType": "Person",
                  "found": false,
                  "legalFormLabel": "string",
                  "companyName": "string",
                  "firstName": "string",
                  "lastName": "string",
                  "invoiceAddress": "string",
                  "invoiceZipCode": "string",
                  "invoiceCity": "string",
                  "isDeregistered": false
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or failed validation."
          },
          "503": {
            "description": "The service is temporarily unavailable."
          },
          "500": {
            "description": "An unexpected error occurred. The body describes the error according to RFC 9457.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://datatracker.ietf.org/doc/html/rfc9110#section-15.6.1",
                  "title": "Ett tekniskt fel har uppstått",
                  "status": 500,
                  "detail": "Vänligen försök igen senare eller kontakta supporten.",
                  "instance": "/areas",
                  "traceId": "0HN7H2M4K1QJ9:00000003"
                }
              }
            }
          }
        }
      }
    },
    "/v2/stamps/registration/initiate": {
      "post": {
        "tags": [
          "StampsManagement"
        ],
        "summary": "Påbörja registreringsflödet: spara blankettdata och initiera signering via BrandSign.\nSkapar ett StampApplication med status PendingSignature och returnerar\nen signeringslänk som frontend skickar användaren till.",
        "description": "Lifecycle:\n  1. POST hit → StampApplication(PendingSignature) skapas, data sparas i cache.\n  2. Användaren signerar via BrandSign.\n  3. BrandSign redirectar till /v2/stamps/registration/callback.\n  4. Callback uppdaterar status till PendingApproval.\n  5. Handläggare godkänner → RegisterNewStampCommand → NAMNSTAMPEL_NYREGISTRERING.",
        "operationId": "InitiateRegistration",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StampRegistrationRequest"
              },
              "example": {
                "stampText": "string",
                "holder": {
                  "applicantType": "Person",
                  "identityNumber": "string",
                  "firstName": "string",
                  "lastName": "string",
                  "companyName": "string",
                  "contactPerson": "string",
                  "invoiceAddress": "string",
                  "invoiceZipCode": "string",
                  "invoiceCity": "string",
                  "phone": "string",
                  "email": "string",
                  "website": "string",
                  "visitAddress": "string",
                  "visitZipCode": "string",
                  "visitCity": "string",
                  "displayName": "string"
                },
                "invoicePreferences": {
                  "peppolId": "string",
                  "invoiceEmail": "string",
                  "digitalPost": "string"
                }
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "The request was successful."
          },
          "409": {
            "description": "The request conflicts with the current state of the resource."
          },
          "503": {
            "description": "The service is temporarily unavailable."
          },
          "500": {
            "description": "An unexpected error occurred. The body describes the error according to RFC 9457.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://datatracker.ietf.org/doc/html/rfc9110#section-15.6.1",
                  "title": "Ett tekniskt fel har uppstått",
                  "status": 500,
                  "detail": "Vänligen försök igen senare eller kontakta supporten.",
                  "instance": "/areas",
                  "traceId": "0HN7H2M4K1QJ9:00000003"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "X-API-Key": []
          }
        ]
      }
    },
    "/v2/stamps/registration/callback": {
      "get": {
        "tags": [
          "StampsManagement"
        ],
        "summary": "Callback-endpoint efter avslutad signering i BrandSign.\nUppdaterar ansökan till PendingApproval — handläggare godkänner separat\nvia admin-endpointet, vilket triggar NAMNSTAMPEL_NYREGISTRERING-eventet.",
        "description": "Callback-endpoint efter avslutad signering i BrandSign.\nUppdaterar ansökan till PendingApproval — handläggare godkänner separat\nvia admin-endpointet, vilket triggar NAMNSTAMPEL_NYREGISTRERING-eventet.",
        "operationId": "RegistrationSigningCallback",
        "parameters": [
          {
            "name": "applicationId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "signingTaskGuid",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 2
          },
          {
            "name": "signerPersonalNumber",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful."
          },
          "400": {
            "description": "The request was malformed or failed validation."
          },
          "404": {
            "description": "The resource was not found."
          },
          "503": {
            "description": "The service is temporarily unavailable."
          },
          "500": {
            "description": "An unexpected error occurred. The body describes the error according to RFC 9457.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://datatracker.ietf.org/doc/html/rfc9110#section-15.6.1",
                  "title": "Ett tekniskt fel har uppstått",
                  "status": 500,
                  "detail": "Vänligen försök igen senare eller kontakta supporten.",
                  "instance": "/areas",
                  "traceId": "0HN7H2M4K1QJ9:00000003"
                }
              }
            }
          }
        }
      }
    },
    "/v2/stamps/deregistration/initiate": {
      "post": {
        "tags": [
          "StampsManagement"
        ],
        "summary": "Påbörja avregistreringsflödet: spara blankettdata och initiera signering via BrandSign.",
        "description": "Påbörja avregistreringsflödet: spara blankettdata och initiera signering via BrandSign.",
        "operationId": "InitiateDeregistration",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StampDeregistrationRequest"
              },
              "example": {
                "stampText": "string",
                "holderName": "string",
                "identityNumber": "string",
                "email": "string",
                "deregistrationDate": "2026-01-15",
                "reason": "string"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "The request was successful."
          },
          "400": {
            "description": "The request was malformed or failed validation."
          },
          "503": {
            "description": "The service is temporarily unavailable."
          },
          "500": {
            "description": "An unexpected error occurred. The body describes the error according to RFC 9457.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://datatracker.ietf.org/doc/html/rfc9110#section-15.6.1",
                  "title": "Ett tekniskt fel har uppstått",
                  "status": 500,
                  "detail": "Vänligen försök igen senare eller kontakta supporten.",
                  "instance": "/areas",
                  "traceId": "0HN7H2M4K1QJ9:00000003"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "X-API-Key": []
          }
        ]
      }
    },
    "/v2/stamps/deregistration/callback": {
      "get": {
        "tags": [
          "StampsManagement"
        ],
        "summary": "Callback-endpoint efter avslutad signering för avregistrering.",
        "description": "Callback-endpoint efter avslutad signering för avregistrering.",
        "operationId": "DeregistrationSigningCallback",
        "parameters": [
          {
            "name": "applicationId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "signingTaskGuid",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 2
          },
          {
            "name": "signerPersonalNumber",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful."
          },
          "400": {
            "description": "The request was malformed or failed validation."
          },
          "404": {
            "description": "The resource was not found."
          },
          "503": {
            "description": "The service is temporarily unavailable."
          },
          "500": {
            "description": "An unexpected error occurred. The body describes the error according to RFC 9457.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://datatracker.ietf.org/doc/html/rfc9110#section-15.6.1",
                  "title": "Ett tekniskt fel har uppstått",
                  "status": 500,
                  "detail": "Vänligen försök igen senare eller kontakta supporten.",
                  "instance": "/areas",
                  "traceId": "0HN7H2M4K1QJ9:00000003"
                }
              }
            }
          }
        }
      }
    },
    "/v2/stamps/transfer/initiate": {
      "post": {
        "tags": [
          "StampsManagement"
        ],
        "summary": "Påbörja överföringsflödet: spara blankettdata och initiera signering via BrandSign.",
        "description": "Påbörja överföringsflödet: spara blankettdata och initiera signering via BrandSign.",
        "operationId": "InitiateTransfer",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StampTransferRequest"
              },
              "example": {
                "stampText": "string",
                "currentHolderName": "string",
                "currentIdentityNumber": "string",
                "currentHolderEmail": "string",
                "newHolder": {
                  "applicantType": "Person",
                  "identityNumber": "string",
                  "firstName": "string",
                  "lastName": "string",
                  "companyName": "string",
                  "contactPerson": "string",
                  "invoiceAddress": "string",
                  "invoiceZipCode": "string",
                  "invoiceCity": "string",
                  "phone": "string",
                  "email": "string",
                  "website": "string",
                  "visitAddress": "string",
                  "visitZipCode": "string",
                  "visitCity": "string",
                  "displayName": "string"
                }
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "The request was successful."
          },
          "400": {
            "description": "The request was malformed or failed validation."
          },
          "503": {
            "description": "The service is temporarily unavailable."
          },
          "500": {
            "description": "An unexpected error occurred. The body describes the error according to RFC 9457.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://datatracker.ietf.org/doc/html/rfc9110#section-15.6.1",
                  "title": "Ett tekniskt fel har uppstått",
                  "status": 500,
                  "detail": "Vänligen försök igen senare eller kontakta supporten.",
                  "instance": "/areas",
                  "traceId": "0HN7H2M4K1QJ9:00000003"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "X-API-Key": []
          }
        ]
      }
    },
    "/v2/stamps/transfer/callback": {
      "get": {
        "tags": [
          "StampsManagement"
        ],
        "summary": "Callback-endpoint efter avslutad signering för överföring.",
        "description": "Callback-endpoint efter avslutad signering för överföring.",
        "operationId": "TransferSigningCallback",
        "parameters": [
          {
            "name": "applicationId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "signingTaskGuid",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 2
          },
          {
            "name": "signerPersonalNumber",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful."
          },
          "400": {
            "description": "The request was malformed or failed validation."
          },
          "404": {
            "description": "The resource was not found."
          },
          "503": {
            "description": "The service is temporarily unavailable."
          },
          "500": {
            "description": "An unexpected error occurred. The body describes the error according to RFC 9457.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://datatracker.ietf.org/doc/html/rfc9110#section-15.6.1",
                  "title": "Ett tekniskt fel har uppstått",
                  "status": 500,
                  "detail": "Vänligen försök igen senare eller kontakta supporten.",
                  "instance": "/areas",
                  "traceId": "0HN7H2M4K1QJ9:00000003"
                }
              }
            }
          }
        }
      }
    },
    "/v2/stamps": {
      "get": {
        "tags": [
          "StampsSearch"
        ],
        "summary": "Sök efter namnstämplar",
        "description": "Sök efter namnstämplar",
        "operationId": "Search2",
        "parameters": [
          {
            "name": "holderName",
            "in": "query",
            "description": "Namn på innehavaren (privatperson eller företag). Del av namn godkänt.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "stampText",
            "in": "query",
            "description": "Namnstämpelns beteckning (t.ex. AAA). Asterisk (*) kan användas som jokertecken.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "city",
            "in": "query",
            "description": "Ort. Del av ortsnamn godkänt.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "county",
            "in": "query",
            "description": "Län. Möjliga värden hämtas från /counties.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "onlyActive",
            "in": "query",
            "description": "Om true returneras enbart aktiva namnstämplar (ej avregistrerade).",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 5
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorteringsordning. Möjliga värden: stamptext, name, regyear, regyear_desc, unregyear, unregyear_desc.",
            "schema": {
              "type": "string",
              "default": "stamptext",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Språk för svaret (sv eller en).",
            "schema": {
              "default": "sv",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/LangCode"
                }
              ]
            },
            "x-position": 7
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Antal träffar per sida (1–200). Standard: 20.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "nullable": true
            },
            "x-position": 8
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Antal träffar att hoppa över. Standard: 0.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "nullable": true
            },
            "x-position": 9
          },
          {
            "name": "format",
            "in": "query",
            "description": "Utdataformat. Utelämna för JSON, ange \"csv\" för nedladdningsbar CSV-fil.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 12
          },
          {
            "name": "search_session_id",
            "in": "query",
            "description": "Anonymt, kortlivat sessions-id för sökanalys. Får inte innehålla användar-id eller IP.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 13
          }
        ],
        "responses": {
          "200": {
            "description": "Paginerad lista av StampSearchResult, eller CSV-fil om format=csv",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StampSearchResult"
                  }
                },
                "example": [
                  {
                    "stampText": "string",
                    "regYear": 0,
                    "unregYear": 0,
                    "holderName": "string",
                    "website": "string",
                    "visitingAddress": "string",
                    "zipCode": "string",
                    "city": "string"
                  }
                ]
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred. The body describes the error according to RFC 9457.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://datatracker.ietf.org/doc/html/rfc9110#section-15.6.1",
                  "title": "Ett tekniskt fel har uppstått",
                  "status": 500,
                  "detail": "Vänligen försök igen senare eller kontakta supporten.",
                  "instance": "/areas",
                  "traceId": "0HN7H2M4K1QJ9:00000003"
                }
              }
            }
          }
        }
      }
    },
    "/v2/stamps/my": {
      "get": {
        "tags": [
          "StampsSearch"
        ],
        "summary": "Hämtar alla namnstämplar kopplade till den inloggade användarens e-postadress.",
        "description": "$my är den ursprungliga rutten och fungerar oförändrat, men dokumenteras inte:\n$ är inte ett tillåtet tecken i en URL enligt RFC 3986.",
        "operationId": "GetMyStamps",
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Stamp"
                  }
                },
                "example": [
                  {
                    "stampText": "string",
                    "regYear": 0,
                    "unregYear": 0,
                    "holderName": "string",
                    "website": "string",
                    "visitingAddress": "string",
                    "zipCode": "string",
                    "holderApplicantType": "Person",
                    "holderFirstName": "string",
                    "holderLastName": "string",
                    "holderCompanyName": "string",
                    "holderContactPerson": "string",
[...]
